# Git and Dev Container configuration
.git
.gitignore
.devcontainer
.dockerignore
Dockerfile
.github

# OS specific file
.DS_Store

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# etc
LICENSE
README.md